/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

@import "mixins"; 
@import "vars"; 
@import "tab-donations/tab-donations";

.poweredby {
    margin-top: 20px;
}

.poweredby img {
	max-width: 70%;
}

.confirm-donation {
    background: #e8efe4;
    padding: 20px;
}

.confirm-donation p {
    margin: 0px;
}

.confirm-donation .stripebtn, .confirm-donation .gcbtn  {
    margin-top: 20px;
}


.billing-details ul li {
	display:block;
}

.billing-details ul li span.labelled,
.billing-details span.labelled {
    font-weight: bold;
    width: 250px;
    display: inline-block;
}

/* 
	while I hack
*/

#donationdeets {
	margin: 0;
	#donatenow {
		display: none;
	}
}

.predon {
	@include transition(all 0.5s ease);
}

.entry-title {
	&.donation-type {
		color: $hftsecondarycol;
	}
}

.damount {
	background: $hftsecondarycol;
    padding: 15px 0;
    width: 100%;
	font-size: 2em;
    color: #fff;
    font-weight: bold;
    text-align: center;
    @include border-radius(4px);
    margin-bottom: 15px;
}

.giftaidit {
    margin-top: 20px;
    img {
	    min-width: 100%;
    }
}


.progress p.inactive {
    color:#B2B2B2;
}

.progress p.active {
    font-weight: bold;
    color: $hftprimarycol;
}

#bigbut {
   	.btn {
	    font-size: 2em;
	    height: inherit;
	    padding-top: 10px !important;
	    padding-bottom: 10px !important;
	    width: 100%;
	}
}

.ddstatement {
    margin: 20px 0;
}

#donation-payment {
    margin: 20px 0;
}

.content-container.success {
    margin-top: 60px;
    margin-bottom: 60px;
    display: inline-block;
}

h2.thanksuccess {
    color: $hftprimarycol;
    font-weight: bold;
    margin-bottom: 20px;
}

p.note {
    margin: 20px 0 0 0;
}
p.note a {
    color:$hftprimarycol;
}
