/** All of the CSS for your public-facing functionality should be included in this file. */
/************ donation tabs ***************/
/* line 3, ../sass/tab-donations/_tab-donations.scss */
#donation-tab-nav { margin-bottom: 20px; }
/* line 5, ../sass/tab-donations/_tab-donations.scss */
#donation-tab-nav .tab-nav { text-align: center; border-bottom: inherit; }
/* line 10, ../sass/tab-donations/_tab-donations.scss */
#donation-tab-nav .tab-nav > li { margin: 0; position: relative; background: rgba(46, 52, 102, 0.5); -webkit-box-shadow: inherit; -moz-box-shadow: inherit; box-shadow: inherit; }
/* line 17, ../sass/tab-donations/_tab-donations.scss */
#donation-tab-nav .tab-nav > li > a { background: inherit; color: #fff; text-shadow: none; border: none; }
/* line 25, ../sass/tab-donations/_tab-donations.scss */
#donation-tab-nav .tab-nav > li.active { background: #2E3466; }
/* line 27, ../sass/tab-donations/_tab-donations.scss */
#donation-tab-nav .tab-nav > li.active > a { color: #fff; text-shadow: none; border: none; }
/* line 33, ../sass/tab-donations/_tab-donations.scss */
#donation-tab-nav .tab-nav > li.active:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(237, 241, 130, 0); border-top-color: #2E3466; border-width: 20px; margin-left: -20px; }
/* line 48, ../sass/tab-donations/_tab-donations.scss */
#donation-tab-nav .tab-content { background-color: #d4dee2; padding: 40px; }
/* line 51, ../sass/tab-donations/_tab-donations.scss */
#donation-tab-nav .tab-content .btn { font-size: 2em; height: inherit; padding-top: 10px !important; padding-bottom: 10px !important; width: 100%; }
@media only screen and (max-width: 767px) { /* line 51, ../sass/tab-donations/_tab-donations.scss */
  #donation-tab-nav .tab-content .btn { margin-bottom: 20px; } }
/* line 61, ../sass/tab-donations/_tab-donations.scss */
#donation-tab-nav .tab-content .field .input { font-size: 2rem; padding: 7px; border: none; height: inherit; line-height: inherit; }

/* line 10, ../sass/hopeft-donate-public.scss */
.poweredby { margin-top: 20px; }

/* line 14, ../sass/hopeft-donate-public.scss */
.poweredby img { max-width: 70%; }

/* line 18, ../sass/hopeft-donate-public.scss */
.confirm-donation { background: #e8efe4; padding: 20px; }

/* line 23, ../sass/hopeft-donate-public.scss */
.confirm-donation p { margin: 0px; }

/* line 27, ../sass/hopeft-donate-public.scss */
.confirm-donation .stripebtn, .confirm-donation .gcbtn { margin-top: 20px; }

/* line 32, ../sass/hopeft-donate-public.scss */
.billing-details ul li { display: block; }

/* line 37, ../sass/hopeft-donate-public.scss */
.billing-details ul li span.labelled, .billing-details span.labelled { font-weight: bold; width: 250px; display: inline-block; }

/* 
	while I hack
*/
/* line 47, ../sass/hopeft-donate-public.scss */
#donationdeets { margin: 0; }

/* line 54, ../sass/hopeft-donate-public.scss */
.predon { -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

/* line 59, ../sass/hopeft-donate-public.scss */
.entry-title.donation-type { color: #05a2da; }

/* line 64, ../sass/hopeft-donate-public.scss */
.damount { background: #05a2da; padding: 15px 0; width: 100%; font-size: 2em; color: #fff; font-weight: bold; text-align: center; -webkit-border-radius: 4px; border-radius: 4px; background-clip: padding-box; /* stops bg color from leaking outside the border: */ margin-bottom: 15px; }

/* line 76, ../sass/hopeft-donate-public.scss */
.giftaidit { margin-top: 20px; }
/* line 78, ../sass/hopeft-donate-public.scss */
.giftaidit img { min-width: 100%; }

/* line 84, ../sass/hopeft-donate-public.scss */
.progress p.inactive { color: #B2B2B2; }

/* line 88, ../sass/hopeft-donate-public.scss */
.progress p.active { font-weight: bold; color: #2e3465; }

/* line 94, ../sass/hopeft-donate-public.scss */
#bigbut .btn { font-size: 2em; height: inherit; padding-top: 10px !important; padding-bottom: 10px !important; width: 100%; }

/* line 103, ../sass/hopeft-donate-public.scss */
.ddstatement { margin: 20px 0; }

/* line 107, ../sass/hopeft-donate-public.scss */
#donation-payment { margin: 20px 0; }

/* line 111, ../sass/hopeft-donate-public.scss */
.content-container.success { margin-top: 60px; margin-bottom: 60px; display: inline-block; }

/* line 117, ../sass/hopeft-donate-public.scss */
h2.thanksuccess { color: #2e3465; font-weight: bold; margin-bottom: 20px; }

/* line 123, ../sass/hopeft-donate-public.scss */
p.note { margin: 20px 0 0 0; }

/* line 126, ../sass/hopeft-donate-public.scss */
p.note a { color: #2e3465; }
