/************ donation tabs ***************/

#donation-tab-nav {
	margin-bottom: 20px;
	.tab-nav {
	    text-align: center;
	    border-bottom: inherit;
	}

	.tab-nav > li {
	    margin: 0;
		position: relative;
		background: rgba(46, 52, 102, 0.50);
	    -webkit-box-shadow: inherit;
	    -moz-box-shadow: inherit;
	    box-shadow: inherit;
		& > a {
			background: inherit;
			color: #fff;
			text-shadow: none;
			border: none;
		}
	}
	
	.tab-nav > li.active {
		background: #2E3466;
		& > a {
			color: #fff;
			text-shadow: none;
			border: none;
		}
	} 
	.tab-nav > li.active:after  {
		top: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(237, 241, 130, 0);
		border-top-color: #2E3466;
		border-width: 20px;
		margin-left: -20px;
	}
	
	.tab-content {
		background-color: $tablebg;
		padding:40px;
		.btn {
		    font-size: 2em;
		    height: inherit;
		    padding-top: 10px !important;
		    padding-bottom: 10px !important;
		    width: 100%;
			@media only screen and (max-width: 767px) {
			    margin-bottom: 20px;
			}
		}
		.field .input {
		    font-size: 2rem;
		    padding: 7px;
		    border: none;
		    height: inherit;
		    line-height: inherit;
		}
	}
}




